In [1]:
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine
%load_ext sql

In [2]:
# Create a connection to the PostgreSQL database
engine=create_engine('postgresql+psycopg2://postgres:password@localhost:5432/medsupply')
connection=engine.connect()
print("Connected:", connection.closed == False)

Connected: True

In [3]:
# check connection using SQL magic command
%sql postgresql+psycopg2://postgres:password@localhost:5432/medsupply

'Connected: postgres@medsupply'

Modify columns type from tables master_products, customers, transactions_item

In [4]:
%%sql

ALTER TABLE master_products
ALTER COLUMN stock_available TYPE INT USING stock_available::INT,
ALTER COLUMN inden_lead_time_days TYPE INT USING inden_lead_time_days::INT,
ALTER COLUMN supplier_cost TYPE NUMERIC USING supplier_cost::NUMERIC;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
Done.

[]

In [5]:
%%sql

ALTER TABLE customers
ALTER COLUMN total_transaction TYPE INT USING total_transaction::INT;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
Done.

[]

In [6]:
%%sql

ALTER TABLE transactions_item
ALTER COLUMN unit_price TYPE NUMERIC USING unit_price::NUMERIC,
ALTER COLUMN quantity TYPE INT USING quantity::INT,
ALTER COLUMN item_total TYPE NUMERIC USING item_total::NUMERIC;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
Done.

[]

Add columns:
- inden_flag → sign for inden product (Yes/No)
- inden_est_time_days → time estimate for inden product (in days)

Then delete column inden_status

###

In [7]:
%%sql

ALTER TABLE transactions_item
ADD COLUMN inden_flag VARCHAR(10),
ADD COLUMN inden_actual_time_days INT;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
Done.

[]

In [8]:
%%sql

UPDATE transactions_item
SET 
    inden_flag = TRIM(SPLIT_PART(inden_status, '(', 1)),
    inden_actual_time_days = CASE 
        WHEN TRIM(SPLIT_PART(inden_status, '(', 1)) = 'No' THEN NULL
        WHEN SPLIT_PART(inden_status, '(', 2) ~ '^[0-9]+(\.[0-9]+)?' 
            THEN SPLIT_PART(SPLIT_PART(inden_status, '(', 2), ' ', 1)::FLOAT::INT
        ELSE NULL
    END;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
308 rows affected.

[]

In [19]:
%%sql

ALTER TABLE transactions_item
DROP COLUMN inden_status;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
Done.

[]