In [1]:
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine
%load_ext sql

In [2]:
# Create a connection to the PostgreSQL database
engine=create_engine('postgresql+psycopg2://postgres:password@localhost:5432/medsupply')
connection=engine.connect()
print("Connected:", connection.closed == False)

Connected: True

In [3]:
# check connection using SQL magic command
%sql postgresql+psycopg2://postgres:password@localhost:5432/medsupply

'Connected: postgres@medsupply'

Check Column Name Length and Escaped Characters

In [4]:
%%sql
SELECT column_name,
       length(column_name) AS len,
       encode(column_name::bytea, 'escape') AS escaped
FROM information_schema.columns
WHERE table_name = 'customers'
ORDER BY ordinal_position;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
6 rows affected.

[('customer_id', 11, 'customer_id'),
 ('customer_name', 13, 'customer_name'),
 ('facility_type', 13, 'facility_type'),
 ('pic_name', 8, 'pic_name'),
 ('pic_phone', 9, 'pic_phone'),
 ('total_transaction', 17, 'total_transaction')]

In [5]:
%%sql
SELECT column_name,
       length(column_name) AS len,
       encode(column_name::bytea, 'escape') AS escaped
FROM information_schema.columns
WHERE table_name = 'master_products'
ORDER BY ordinal_position;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
6 rows affected.

[('product_code', 12, 'product_code'),
 ('product_name', 12, 'product_name'),
 ('product_type', 12, 'product_type'),
 ('stock_available', 15, 'stock_available'),
 ('inden_lead_time_days', 20, 'inden_lead_time_days'),
 ('supplier_cost', 13, 'supplier_cost')]

In [6]:
%%sql
SELECT column_name,
       length(column_name) AS len,
       encode(column_name::bytea, 'escape') AS escaped
FROM information_schema.columns
WHERE table_name = 'transactions_item'
ORDER BY ordinal_position;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
10 rows affected.

[('transaction_id', 14, 'transaction_id'),
 ('product_type', 12, 'product_type'),
 ('product_code', 12, 'product_code'),
 ('product_name', 12, 'product_name'),
 ('unit_price', 10, 'unit_price'),
 ('quantity', 8, 'quantity'),
 ('item_total', 10, 'item_total'),
 ('inden_status', 12, 'inden_status'),
 ('inden_flag', 10, 'inden_flag'),
 ('inden_actual_time_days', 22, 'inden_actual_time_days')]

In [7]:
%%sql
SELECT column_name,
       length(column_name) AS len,
       encode(column_name::bytea, 'escape') AS escaped
FROM information_schema.columns
WHERE table_name = 'transactions_main'
ORDER BY ordinal_position;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
6 rows affected.

[('transaction_id', 14, 'transaction_id'),
 ('customer_id', 11, 'customer_id'),
 ('order_date', 10, 'order_date'),
 ('delivery_date', 13, 'delivery_date'),
 ('grand_total', 11, 'grand_total'),
 ('invoice_status', 14, 'invoice_status')]

In [8]:
%%sql

SELECT *
FROM customers
LIMIT 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
5 rows affected.

[('RS001', 'RS Adriansyah', 'Hospital', 'H. Rafi Haryanto, S.Pt', '+628850248496', 45),
 ('RS002', 'RS Widodo', 'Hospital', 'Hendra Waluyo', '+628880811341', 21),
 ('RS003', 'RS Kusumo', 'Hospital', 'Dimas Budiyanto, M.M.', '+628956768539', 94),
 ('RS004', 'RS Usada', 'Hospital', 'Siti Hasanah', '+628719176495', 53),
 ('RS005', 'RS Maulana', 'Hospital', 'Anita Saefullah', '+628628354468', 38)]

In [9]:
%%sql

SELECT *
FROM master_products
LIMIT 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
5 rows affected.

[('MED-C001', 'Syringe 10ml', 'Consumable', None, 30, Decimal('453846')),
 ('MED-C002', 'N95 Mask', 'Consumable', 1133, 0, Decimal('266549')),
 ('MED-C003', 'Catheter 16G', 'Consumable', 1836, 0, Decimal('490620')),
 ('MED-C004', 'Nitrile Gloves L', 'Consumable', 2138, 0, Decimal('274006')),
 ('MED-C005', 'Gauze 10x10cm', 'Consumable', 0, None, Decimal('186751'))]

In [10]:
%%sql

SELECT *
FROM transactions_item
LIMIT 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
5 rows affected.

[('TRX001', 'Device', 'MED-D114', 'Philips Heart Monitor', Decimal('49182183'), 383, Decimal('18836776225'), 'No', 'No', None),
 ('TRX001', 'Device', 'MED-D109', 'Mindray Infusion Pump', None, 101, Decimal('3947811448'), 'No', 'No', None),
 ('TRX001', 'Consumable', 'MED-C017', 'Urine Bag 2000ml', Decimal('480019'), None, Decimal('142085638'), 'No', 'No', None),
 ('TRX002', 'Device', 'MED-D115', 'B.Braun Dialysis', Decimal('59013885'), 447, Decimal('26379206634'), 'No', 'No', None),
 ('TRX002', 'Service', 'SVC-J004', 'Defib Training', Decimal('9539642'), 301, Decimal('2871432268'), 'No', 'No', None)]

In [11]:
%%sql

SELECT *
FROM transactions_main
LIMIT 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
5 rows affected.

[('TRX001', 'RS001', datetime.date(2025, 8, 4), datetime.date(2025, 9, 1), 22926673311.0, 'Completed'),
 ('TRX002', 'RS039', datetime.date(2025, 11, 3), None, 29986481472.0, 'Completed'),
 ('TRX003', 'RS006', datetime.date(2025, 8, 14), datetime.date(2025, 8, 31), 25501292715.0, 'Completed'),
 ('TRX004', 'RS007', datetime.date(2025, 10, 23), datetime.date(2025, 10, 28), 39312768425.0, 'Customer Confirmation'),
 ('TRX005', 'CL015', datetime.date(2025, 9, 16), datetime.date(2025, 9, 28), 6049144459.0, None)]

After Modification

In [12]:
%%sql

SELECT *
FROM master_products
LIMIT 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
5 rows affected.

[('MED-C001', 'Syringe 10ml', 'Consumable', None, 30, Decimal('453846')),
 ('MED-C002', 'N95 Mask', 'Consumable', 1133, 0, Decimal('266549')),
 ('MED-C003', 'Catheter 16G', 'Consumable', 1836, 0, Decimal('490620')),
 ('MED-C004', 'Nitrile Gloves L', 'Consumable', 2138, 0, Decimal('274006')),
 ('MED-C005', 'Gauze 10x10cm', 'Consumable', 0, None, Decimal('186751'))]

In [13]:
%%sql

SELECT *
FROM customers
LIMIT 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
5 rows affected.

[('RS001', 'RS Adriansyah', 'Hospital', 'H. Rafi Haryanto, S.Pt', '+628850248496', 45),
 ('RS002', 'RS Widodo', 'Hospital', 'Hendra Waluyo', '+628880811341', 21),
 ('RS003', 'RS Kusumo', 'Hospital', 'Dimas Budiyanto, M.M.', '+628956768539', 94),
 ('RS004', 'RS Usada', 'Hospital', 'Siti Hasanah', '+628719176495', 53),
 ('RS005', 'RS Maulana', 'Hospital', 'Anita Saefullah', '+628628354468', 38)]

In [14]:
%%sql

SELECT *
FROM transactions_item
LIMIT 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
5 rows affected.

[('TRX001', 'Device', 'MED-D114', 'Philips Heart Monitor', Decimal('49182183'), 383, Decimal('18836776225'), 'No', 'No', None),
 ('TRX001', 'Device', 'MED-D109', 'Mindray Infusion Pump', None, 101, Decimal('3947811448'), 'No', 'No', None),
 ('TRX001', 'Consumable', 'MED-C017', 'Urine Bag 2000ml', Decimal('480019'), None, Decimal('142085638'), 'No', 'No', None),
 ('TRX002', 'Device', 'MED-D115', 'B.Braun Dialysis', Decimal('59013885'), 447, Decimal('26379206634'), 'No', 'No', None),
 ('TRX002', 'Service', 'SVC-J004', 'Defib Training', Decimal('9539642'), 301, Decimal('2871432268'), 'No', 'No', None)]

In [15]:
%%sql

SELECT *
FROM transactions_main
LIMIT 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
5 rows affected.

[('TRX001', 'RS001', datetime.date(2025, 8, 4), datetime.date(2025, 9, 1), 22926673311.0, 'Completed'),
 ('TRX002', 'RS039', datetime.date(2025, 11, 3), None, 29986481472.0, 'Completed'),
 ('TRX003', 'RS006', datetime.date(2025, 8, 14), datetime.date(2025, 8, 31), 25501292715.0, 'Completed'),
 ('TRX004', 'RS007', datetime.date(2025, 10, 23), datetime.date(2025, 10, 28), 39312768425.0, 'Customer Confirmation'),
 ('TRX005', 'CL015', datetime.date(2025, 9, 16), datetime.date(2025, 9, 28), 6049144459.0, None)]

In [17]:
%%sql

SELECT 
    mp.product_code,
    mp.product_name,
    mp.inden_lead_time_days,
    mp.stock_available,
    ti.inden_actual_time_days
FROM master_products as mp
JOIN transactions_item as ti USING (product_code)
WHERE ti.inden_flag = 'Yes'
LIMIT 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
5 rows affected.

[('MED-C011', 'Surgical Tape 5cm', 30, 0, 31),
 ('MED-C011', 'Surgical Tape 5cm', 30, 0, 28),
 ('MED-D103', 'B.Braun Infusion Pump', 14, 0, 15),
 ('MED-D119', 'Getinge Anesthesia', 7, 0, 9),
 ('MED-C001', 'Syringe 10ml', 30, None, 29)]

### Missing value Percentage

In [18]:
%%sql

SELECT 
    (COUNT(*) - COUNT(supplier_cost)) * 100.0 / COUNT(*) AS missing_percentage
FROM master_products;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
1 rows affected.

[(Decimal('4.0000000000000000'),)]

In [19]:
%%sql

SELECT 
    (COUNT(*) - COUNT(quantity)) * 100.0 / COUNT(*) AS missing_percentage
FROM transactions_item;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
1 rows affected.

[(Decimal('4.8701298701298701'),)]

In [20]:
%%sql

SELECT 
    (COUNT(*) - COUNT(inden_flag)) * 100.0 / COUNT(*) AS missing_percentage
FROM transactions_item;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
1 rows affected.

[(Decimal('4.8701298701298701'),)]

In [21]:
%%sql

SELECT 
    (COUNT(*) - COUNT(delivery_date)) * 100.0 / COUNT(*) AS missing_percentage
FROM transactions_main;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
1 rows affected.

[(Decimal('5.0000000000000000'),)]

In [22]:
%%sql

SELECT 
    (COUNT(*) - COUNT(invoice_status)) * 100.0 / COUNT(*) AS missing_percentage
FROM transactions_main;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
1 rows affected.

[(Decimal('5.0000000000000000'),)]

Status unik dari invoice_status

In [23]:
%%sql

SELECT 
    DISTINCT invoice_status as unique_status,
    COUNT(*) AS unique_count
FROM transactions_main
GROUP BY invoice_status;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
6 rows affected.

[('Sent to Tax', 19),
 ('Completed', 41),
 ('Awaiting DN Signed', 12),
 ('Cancelled', 4),
 ('Customer Confirmation', 19),
 (None, 5)]