In [1]:
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine
%load_ext sql

In [2]:
# Create a connection to the PostgreSQL database
engine=create_engine('postgresql+psycopg2://postgres:password@localhost:5432/medsupply')
connection=engine.connect()
print("Connected:", connection.closed == False)

Connected: True

In [3]:
# check connection using SQL magic command
%sql postgresql+psycopg2://postgres:password@localhost:5432/medsupply

'Connected: postgres@medsupply'

In [4]:
%%sql

ALTER TABLE transactions_main
ALTER COLUMN order_date TYPE DATE
USING order_date::DATE;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
Done.

[]

In [5]:
%%sql

ALTER TABLE transactions_main
ALTER COLUMN delivery_date TYPE DATE
USING delivery_date::DATE;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
Done.

[]

Add columns:
- inden_flag → sign for inden product (Yes/No)
- inden_est_time_days → time estimate for inden product (in days)

Then delete column inden_status

###

In [ ]:
%%sql

ALTER TABLE transactions_item
ADD COLUMN inden_flag VARCHAR(10),
ADD COLUMN inden_est_time_days INT;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
Done.

[]

In [10]:
%%sql

UPDATE transactions_item
SET 
    inden_flag = TRIM(SPLIT_PART(inden_status, '(', 1)),
    inden_est_time = CASE 
        WHEN TRIM(SPLIT_PART(inden_status, '(', 1)) = 'No' THEN NULL
        ELSE REGEXP_REPLACE(SPLIT_PART(inden_status, '(', 2), '[^0-9]', '', 'g')::INT
    END;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
282 rows affected.

[]

In [13]:
%%sql

ALTER TABLE transactions_item
DROP COLUMN inden_status;

 * postgresql+psycopg2://postgres:***@localhost:5432/medsupply
Done.

[]